TGYTBOT_TELEGRAM_API_KEY=<YOUR_TELEGRAM_BOT_API_KEY>
TGYTBOT_TELEGRAM_LONG_POLLING_TIMEOUT=60
TGYTBOT_MODE=debug
TGYTBOT_LOG_FILE_PATH=tgytbot.log
TGYTBOT_DOWNLOAD_TIMEOUT=5h
TGYTBOT_AUDIO_FILE_MAX_SIZE_MB=48